body
{
    width:200px;
    margin:200px auto;
    perspective:400px;
}

section{
    width:200px; height:200px;
    position:relative;/*상대적 좌표 키워드*/
    animation:rint 3s linear 0s infinite;

    transform-style:preserve-3d;
}


/*프레임 규칙 : CSS3에서 애니메이션을 지정하는 형식*/
@keyframes rint {
    from {
        transform:rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    }

    to {
        transform:rotateX(360deg) rotateY(360deg) rotateZ(360deg);
    }
}
div{
    width:200px; height:200px;
    position:absolute;
    opacity:0.3;/*투명도*/

    backface-visibility:hidden;
    opacity:0.3;

}


/*옆면*/
div:nth-child(1){ 
    transform: rotateY(0deg) translate3d(0px, 0px, 100px); 
    background:red;
}  /*transform:변환*/
div:nth-child(2){ 
    transform: rotateY(90deg) translate3d(0px, 0px, 100px); 
    background:green;
}
div:nth-child(3){ 
    transform: rotateY(180deg) translate3d(0px, 0px, 100px);
    background:blue;
}
div:nth-child(4){ 
    transform: rotateY(270deg) translate3d(0px, 0px, 100px); 
    background:yellow;
}


/*위면과 아랫면*/
div:nth-child(5){ 
    transform: rotateX(90deg) translate3d(0px, 0px, 100px); 
    background:brown;
}
div:nth-child(6){ 
    transform: rotateX(270deg) translate3d(0px, 0px, 100px); 
    background:pink;
}
